body {
  font-family: "lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: black;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: rgb(114, 32, 11);
}

nav li:last-child {
  background: rgb(240, 42, 32);
}
nav li:last-child:hover {
  background: rgb(114, 32, 11);
}

.hero {
  background-color: rgb(228, 227, 227);
}

.size {
  background-color: rgb(248, 243, 239);
}

.add-to-cart {
  border: 2px solid rgb(240, 42, 32);
  color: rgb(240, 42, 32);
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  color: white;
  background-color: rgb(240, 42, 32);
}

.btn-primary {
  background: rgb(240, 42, 32);
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background-color: rgb(114, 32, 11);
  border: white;
}

section.cart .amount {
  color: rgb(240, 42, 32);
}
